aiodns==3.0.0
aiohttp==3.8.3
aiosignal==1.3.1
alabaster==0.7.13
anyio==3.6.2
APScheduler==3.6.3
async-timeout==4.0.2
attrs==22.2.0
autobahn==23.1.1
Automat==22.10.0
Babel==2.11.0
backports.zoneinfo==0.2.1
binance-futures-connector==3.3.0
black==22.12.0
cachetools==4.2.2
ccxt==2.6.44
certifi==2021.10.8
cffi==1.15.1
cfgv==3.3.1
chardet==5.1.0
charset-normalizer==2.0.7
click==8.1.3
colorama==0.4.6
constantly==15.1.0
contourpy==1.0.7
coverage==7.0.5
cryptography==39.0.0
cycler==0.11.0
dateparser==1.1.6
distlib==0.3.6
#docutils==0.19
execnet==1.9.0
filelock==3.9.0
flake8==6.0.0
fonttools==4.38.0
frozenlist==1.3.3
h11==0.14.0
httpcore==0.16.3
httpx==0.23.3
hyperlink==21.0.0
identify==2.5.13
idna==3.3
imagesize==1.4.1
importlib-metadata==6.0.0
incremental==22.10.0
Jinja2==3.1.2
kiwisolver==1.4.4
llvmlite==0.37.0
lxml==4.6.4
MarkupSafe==2.1.1
matplotlib==3.6.3
mccabe==0.7.0
mock==5.0.1
more-itertools==9.0.0
multidict==6.0.4
multitasking==0.0.9
mypy-extensions==0.4.3
nodeenv==1.7.0
numba==0.54.1
numpy==1.20.3
packaging==23.0
pandas==1.3.4
pathspec==0.10.3
pep8==1.7.1
Pillow==9.4.0
platformdirs==2.6.2
plotly==5.3.1
pluggy==0.13.1
pre-commit==2.21.0
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybit==2.4.1
pycares==4.3.0
pycodestyle==2.10.0
pycparser==2.21
pycryptodome==3.16.0
pyflakes==3.0.1
Pygments==2.14.0
pyOpenSSL==23.0.0
pyparsing==3.0.9
pyproject-api==1.4.0
pytest==5.4.1
pytest-cache==1.0
pytest-cov==2.8.1
pytest-pep8==1.0.6
python-binance==1.0.15
python-dateutil==2.8.2
python-telegram-bot==13.13
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
regex==2022.10.31
requests==2.26.0
responses==0.10.12
rfc3986==1.5.0
service-identity==21.1.0
shutup==0.2.0
six==1.16.0
sniffio==1.3.0
snowballstemmer==2.2.0
sphinx==6.1.3
sphinx-rtd-theme==1.1.1
sphinxcontrib-applehelp==1.0.3
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sure==1.4.11
ta==0.8.0
TA-Lib==0.4.25
tapy==1.9.1
telegram==0.0.1
tenacity==8.0.1
tomli==2.0.1
tornado==6.2
tox==4.3.3
tox-pyenv==1.1.0
Twisted==22.10.0
txaio==23.1.1
typing-extensions==4.4.0
tzdata==2022.7
tzlocal==4.2
ujson==5.7.0
urllib3==1.26.7
virtualenv==20.17.1
wcwidth==0.2.6
websocket-client==1.4.2
websockets==9.1
wincertstore==0.2
yarl==1.8.2
yfinance==0.1.64
zipp==3.11.0
zope.interface==5.5.2
